*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
#wrap {
	width: 100%;
	height: 450px;
	background-color: #464646;
	margin-top: 207px;
}
.content{
	list-style-type: none;
	width: 25%;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	margin-top: 50px;
	line-height: 2.5em;	
}
.content1{
	padding-left: 50px;
}
.content2{
	padding-right: 50px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
