body{
	margin: 0px;
	padding: 0px;
	
}
.top-header{
	background-color: #c02527;
	width: 100%;
	height: 30px;
	position: relative;
}
.top-header-content{
	position: absolute;
	right: 25px;
	top: 5px;
}
.top-header-content a{
	font-family: 'UTM Trajan Pro Bold';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-decoration: none;
}
.country img{
	width: 24px;
	position: absolute;
	right: 180px;
    top: 7px;
}
.bottom-header{
	background-color: #eedbff;
	width: 100%;
	height: 100px;
}
.content-bottom-header{
	width: 100%;
	height: 80px;
}
.content1-bottom-header{
	float: left;
	width: 140px;
	height: 80px;
	padding-left: 100px;
}
.content2-bottom-header{
	display: inline;
	float: left;
	width: 1000px;
	height: 80px;
	padding-left: 65px;
}
.bottom-header,.content-bottom-header,.content1-bottom-header,.content2-bottom-header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content1-bottom-header img{
	width: 150px;
}
.sum > li{
	float: left;
}
li{
	list-style-type: none;
}
.sum > li > a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	font-family: 'UTM Swiss 721 Black Condensed';
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 40px;
	color: #c4161c;
	text-transform: uppercase;
}
.db > a{
	color: #ef9800 !important;
}
.sum > li > a:hover{
	color: #ef9800;
}

/*Menu cáº¥p 2*/
.sum > li > div{
	display: none;
}  
.sum > li:hover > div{
	display: block;
}
.sum li {
	position: relative;
}
.menu{
	background-color: white;
	width: 200px;
	position: absolute;
	left: 0;
	top: 35px;
}
.td {
	padding-left: 0px;
	border-bottom: 1px solid grey;
}
.td > li{
	padding-left: 15px;
	border-bottom: 1px solid grey;
}
.td > li > a{
	font-family: Roboto,sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	line-height: 40px;
	text-transform: capitalize;
	color: #c4161c;
}
li > a > i:first-child{
	display: none !important;
}
li:hover > a > i:first-child{
	display: inline !important;
}

