body{
	margin: 0;
	padding: 0;
}
#wrap{
	width: 600px;
	margin: auto;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text{
	font-size: 2em;
	line-height: 10px;
	text-transform: uppercase;
	font-family: Crimson Pro;
}
@keyframes title{
	0%{background-color: green;}
	35%{background-color: yellow;}
	70%{background-color: blue;}
}
.im{
	width: 200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.im1{
	background-color: green;
	animation: title 5s linear infinite;
}
