* {
	box-sizing: border-box;
}
body{
	background-color: grey;
	margin: 0;
	padding: 0;
}
#wrap{
	width: 800px;
	margin: auto;
	margin-top: 50px;
}
.im img{
	width: calc( 100% / 3 - 10px );
	border: 3px solid white;
	margin-bottom: 10px;
	transition: transform 0.2s linear;
	float: left;
}
.im1 img{
	margin-right: 10px;
}

.im img:hover{
	transform: scale(1.2);
}